<html>
<head><title>Admin Dashboard</title></head>
<body>
  <h1>Poll Created</h1>
  <p>Share this link: <a href="<%= voteUrl %>"><%= voteUrl %></a></p>
  <img src="<%= qrImage %>" alt="QR Code" />
</body>
</html>

