<html>
<head><title>Enter Your Name</title></head>
<body>
  <h1>Enter Your Name</h1>
  <form action="/enter" method="POST">
    <input name="username" type="text" />
    <button type="submit">Proceed</button>
  </form>
</body>
</html>

